<!-- 
    <div class="">
        <h2 class="is-size-2 text-center p-2">Почему клиенты выбирают нас:</h2>
    </div> -->
    <h1 class="display-6 fw-bold text-body-emphasis lh-1 pb-4 mb-5 border-bottom text-center">Почему клиенты выбирают нас:</h1>

    <div class="container text-center">

        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-3 bg-light card m-4">
                <span style="font-size: 52px; color: rgb(0, 0, 0);">
                    <i class="fa fa-certificate"></i>
                </span>
                <h3 class="fs-3 text-uppercase">Работаем 20 лет</h3>
                <p>Большой опыт печати, большой выбор решений</p>
            </div>

            <!-- <div class="col-sm-12 col-md-3 bg-light card m-4">
                <span style="font-size: 52px; color: rgb(0, 0, 0);">
                    <i class="fa fa-money"></i>
                </span>
                <h3 class="fs-3 text-uppercase">Постоплата</h3>
                <p>Любые способы оплаты и доставки, а так же постоплата для действующих клиентов</p>
            </div> -->

            <div class="col-sm-12 col-md-3 bg-light card m-4">
                <span style="font-size: 52px; color: rgb(0, 0, 0);">
                    <i class="fa fa-percent"></i>
                </span>
                <h3 class="fs-3 text-uppercase">Лучшее предложение</h3>
                <p>Скидка на первый заказ</p>
            </div>

            <div class="col-sm-12 col-md-3 bg-light card m-4">
                <span style="font-size: 52px; color: rgb(0, 0, 0);">
                    <i class="fa fa-print"></i>
                </span>
                <h3 class="fs-3 text-uppercase">Собственное оборудование</h3>
                <p>Профессиональное оборудование</p>
            </div>

        </div>
            
    </div>
