<!-- 
<div class="container px-4 py-5  text-center">
    <h2 class="pb-2 border-bottom">Способы доставки</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <div class="d-flex flex-column align-items-center">
          <img src="${ require('src/assets/images/icon-box.svg') }" class="delivery__image" width="32px">
          <h4 class="fw-semibold text-body-emphasis lh-1 fs-4 my-3">Самовывоз</h4>
          <p class="fs-5">Cклад в г. Ногинск, 1-й Кардолентный пр., 5.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="d-flex flex-column align-items-center">
            <img src="${ require('src/assets/images/icon-delivery-man.svg') }" class="delivery__image" width="32px">
          <h4 class="fw-semibold text-body-emphasis lh-1 fs-4 my-3">Курьерская доставка </h4>
          <p class="fs-5">При заказе от 30 000 этикеток доставка до клиента бесплатная.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="d-flex flex-column align-items-center">
            <img src="${ require('src/assets/images/icon-delivery-truck.svg') }" class="delivery__image" width="32px">
          <h4 class="fw-semibold text-body-emphasis lh-1 fs-4 my-3">Автомобильная доставка</h4>
          <p class="fs-5">Мы осуществляем доставку как автомобильным, так и железнодорожным транспортом.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="d-flex flex-column align-items-center">
            <img src="${ require('src/assets/images/icon-clock.svg') }" class="delivery__image" width="32px">
          <h4 class="fw-semibold text-body-emphasis lh-1 fs-4 my-3">Срочная доставка курьерской службой (с 9 до 24***) от 800 ₽</h4>
          <p class="fs-5">Срочная доставка</p>
        </div>
      </div>

    </div>

  </div> -->

  <div class="container">
  <!-- <h2 class="pb-2 border-bottom">Способы доставки</h2> -->
  <h1 class="display-6 fw-bold text-body-emphasis lh-1 pb-4 mb-5 border-bottom text-center">Способы доставки</h1>

  <div class="row">
    <div class="col-lg-3 d-flex flex-column align-items-center">
      <img src="${ require('src/assets/images/icon-box.svg') }" class="pb-3" width="64px">
      <h2 class="fw-normal  text-center">Самовывоз</h2>
      <p class="text-center">Cклад в г. Ногинск, 1-й Кардолентный пр., 5.</p>
      <!-- <p><a class="btn btn-success" href="tel:+7 (495) 983-58-64">Заказать »</a></p> -->
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 d-flex flex-column align-items-center">
      <img src="${ require('src/assets/images/icon-delivery-man.svg') }" class="pb-3" width="64px">
      <h2 class="fw-normal  text-center">Курьерская</h2>
      <p class="text-center">При заказе от 30 000 этикеток доставка до клиента бесплатная.</p>
      <!-- <p><a class="btn btn-success" href="tel:+7 (495) 983-58-64">Заказать »</a></p> -->
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 d-flex flex-column align-items-center">
      <img src="${ require('src/assets/images/icon-delivery-truck.svg') }" class="pb-3" width="64px">
      <h2 class="fw-normal  text-center">Автомобильная </h2>
      <p class="text-center">Осуществляем доставку  автомобильным транспортом.</p>
      <!-- <p><a class="btn btn-success" href="tel:+7 (495) 983-58-64">Заказать »</a></p> -->
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 d-flex flex-column align-items-center">
      <img src="${ require('src/assets/images/icon-clock.svg') }" class="pb-3" width="64px">
      <h2 class="fw-normal  text-center">Срочная</h2>
      <p class="text-center">Срочная доставка курьерской службой (с 9 до 24***) от 800₽</p>
      <!-- <p><a class="btn btn-success" href="tel:+7 (495) 983-58-64">Заказать »</a></p> -->
    </div><!-- /.col-lg-4 -->
  </div>

</div>