
<div class="container px-4 py-5  text-center">
    <h2 class="pb-2 border-bottom">Способы доставки</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <div class="d-flex flex-column align-items-center">
          <img src="${ require('src/assets/images/icon-box.svg') }" class="delivery__image" width="32px">
          <h3 class="fw-bold mt-3 mb-0 fs-4">Самовывоз</h3>
          <p>Cклад в г. Ногинск, 1-й Кардолентный пр., 5.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="d-flex flex-column align-items-center">
            <img src="${ require('src/assets/images/icon-delivery-man.svg') }" class="delivery__image" width="32px">
          <h3 class="fw-bold mt-3 mb-0 fs-4">Курьерская доставка </h3>
          <p>При заказе от 30 000 этикеток доставка до клиента бесплатная.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="d-flex flex-column align-items-center">
            <img src="${ require('src/assets/images/icon-delivery-truck.svg') }" class="delivery__image" width="32px">
          <h3 class="fw-bold mt-3  mb-0 fs-4">Автомобильная доставка</h3>
          <p>Мы осуществляем доставку как автомобильным, так и железнодорожным транспортом.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="d-flex flex-column align-items-center">
            <img src="${ require('src/assets/images/icon-clock.svg') }" class="delivery__image" width="32px">
          <h3 class="fw-bold mt-3 mb-0 fs-4">Срочная доставка курьерской службой (с 9 до 24***) от 800 ₽</h3>
          <p>Срочная доставка</p>
        </div>
      </div>

    </div>

    <div class="p-5 text-center">
        <a href="tel:+7 (495) 983-58-64" class="btn btn-primary btn-success text-white  btn-lg text-center">Остались вопросы? Получить консультацию</a>
    </div>

  </div>