<footer class="footer d-flex justify-content-center py-3">
  
      <!-- Button to toggle offcanvas -->
      <button class="btn btn-primary" type="button" id="offcanvasToggle">
        <span style="font-size: 42px; color: rgb(255, 255, 255);">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
      </button>

  <div class="row px-1">
    <a class="map col-sm-12 col-md-6 col-lg-3 align-items-center  text-decoration-none"
      href="https://yandex.ru/maps/213/moscow/house/1_ya_boyevskaya_ulitsa_2_12s3/Z04YcA5hTUIAQFtvfXt4c3hhZg==/?ll=37.691477%2C55.792422&z=17.1">
      <span style="font-size: 15px; color: rgb(255, 255, 255);">
        <i class="fa fa-map-marker"></i>
      </span>
      <span class="text-white text-decoration-none px-1 nowrap fs-5">Москва, 1 Боевская, 2/12с3</span>
    </a>
    <div class="time col-sm-12 col-md-6 col-lg-3 align-items-center">
      <span style="font-size: 15px; color: rgb(255, 255, 255);">
        <i class="fa fa-clock-o"></i>
      </span>
      <span class="px-1 text-white nowrap fs-5">будни с 9 до 19 / выхи с 10 до 18</span>
    </div>
    <div class="mail col-sm-12 col-md-6 col-lg-3  align-items-center">
      <span style="font-size: 15px; color: rgb(255, 255, 255);">
        <i class="fa fa-envelope"></i>
      </span>
      <a class="px-1 text-white text-decoration-none nowrap fs-5" href="mailto:toppress-zakaz@yandex.ru">toppress-zakaz@yandex.ru</a>
    </div>
    <div class="phone col-sm-12 col-md-6 col-lg-3   align-items-center">
      <span style="font-size: 15px; color: rgb(255, 255, 255);">
        <i class="fa fa-phone"></i>
      </span>
      <a href="tel:+79391110534" class="px-1 text-white text-decoration-none nowrap fs-5">+7(939) 111-05-34</a>&nbsp;
      <a href="https://wa.me/79016348239" type="button" class="btn btn-success btn-sm px-2 me-md-2 d-none d-md-block d-lg-block">
        Whatsapp</a>
    </div>
  </div>
</footer>

<!-- https://callibri.ru -->
<script src="//cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8" defer></script>
