<!-- Meta OG -->
<!-- <meta property="og:title" content="@@title">
<meta property="og:description" content="@@description">
<meta property="og:image" content="">
<meta property="og:url" content="[URL страницы]">
<meta property="og:type" content="website"> -->
<!-- Links css -->

<!-- favicon.ico in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<!-- Yandex.Metrika counter -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]function(){(m[i].a=m[i].a[]).push(arguments)};
     m[i].l=1*new Date();
     for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
     k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  
     ym(98681882, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/98681882" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
<!-- Antibot -->
 <script>
     var abc = new XMLHttpRequest();
     var microtime = Date.now();
     var abcbody = "t="+microtime+"&w="+screen.width+"&h="+ screen.height+"&cw="+document.documentElement.clientWidth+"&ch="+document.documentElement.clientHeight;
     abc.open("POST", "/protect/8.php", true);
     abc.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
     abc.send(abcbody);
</script>
<!-- Antibot -->
 <!-- CollTracking-->
<script type="text/javascript" async src="https://app.uiscom.ru/static/cs.min.js?k=hZZLYB7EUgruSIwbH_q1MtgcwmyG66df"></script>
 <!-- CollTracking-->
