    <ul class="list-unstyled ps-0">

      <!-- Vidy gibkoy upakovki -->
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Виды гибкой упаковки
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="vgu.html" class="link-dark rounded">Виды гибкой упаковки</a></li>
          </ul>
        </div>
      </li>

      <!-- Materialy dlya gibkoy upakovki -->
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Материалы для гибкой упаковки
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="mat.html" class="link-dark rounded">Материалы</a></li>
          </ul>
        </div>
      </li>

      
    <!-- vidy pechati gibkoy upakovki -->
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Виды печати гибкой упаковки
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="vpgu.html" class="link-dark rounded">Виды печати гибкой упаковки.</a></li>
            <li><a href="vpgu_fleksopechat.html" class="link-dark rounded">Флексопечать</a></li>
            <li><a href="vpgu_trafaretnaya.html" class="link-dark rounded">Трафаретная печать</a></li>
            <li><a href="vpgu_rotogravyurnaya.html" class="link-dark rounded">Ротогравюрная печать</a></li>
          </ul>
        </div>
      </li>

      <li class="border-top my-3"></li>
      <li class="mb-1">
        <a href="shipping-and-payment.html" class="btn align-items-center rounded">
          Доставка и оплата
        </a>
      </li>
      <li class="mb-1">
        <a href="contacts.html" class="btn align-items-center rounded">
          Контакты
        </a>
      </li>

    </ul>
