    <ul class="list-unstyled ps-0">

      <!-- Proizvodstvo gibkoy upakovki -->
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#first-block-collapse" aria-expanded="false">
          Производство гибкой упаковки
        </button>
        <div class="collapse" id="first-block-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="pgu.html" class="link-dark rounded">Изготовление упаковки</a></li>
            <li><a href="pgu_cofe.html" class="link-dark rounded">Упаковка для кофе</a></li>
            <li><a href="pgu_tea.html" class="link-dark rounded">Упаковка для чая</a></li>
            <li><a href="pgu_milk.html" class="link-dark rounded">Упаковка для молока</a></li>
            <li><a href="pgu_icecream.html" class="link-dark rounded">Упаковка для мороженого</a></li>
            <li><a href="pgu_vegetable.html" class="link-dark rounded">Упаковка для овощей</a></li>
            <li><a href="pgu_bit_him.html" class="link-dark rounded">Упаковка для бытовой химии</a></li>
            <li><a href="pgu_loose_products.html" class="link-dark rounded">Упаковка для сыпучих продуктов</a></li>
          </ul>
        </div>
      </li>

      <!-- Vidy gibkoy upakovki -->
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Виды гибкой упаковки
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="vgu.html" class="link-dark rounded">Виды гибкой упаковки</a></li>
            <li><a href="vgu_doi_pack.html" class="link-dark rounded">Упаковка Дой-Пак</a></li>
            <li><a href="vgu_floy_pack.html" class="link-dark rounded">Упаковка Флоу-Пак</a></li>
            <li><a href="vgu_kartonnaya_upakovka.html" class="link-dark rounded">Картонная упаковка</a></li>
            <li><a href="vgu_upakovka_sashe.html" class="link-dark rounded">Упаковка Саше</a></li>
            <li><a href="vgu_upakovka_euroslot.html" class="link-dark rounded">Упаковка Еврослот</a></li>
            <li><a href="vgu_stick.html" class="link-dark rounded">Упаковка Стик</a></li>
            <li><a href="vgu_ch_zn.html" class="link-dark rounded">Маркировка Честный знак</a></li>
          </ul>
        </div>
      </li>

      <!-- Materialy dlya gibkoy upakovki -->
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Материалы для гибкой упаковки
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="mat.html" class="link-dark rounded">Материалы</a></li>
            <li><a href="mat_polietilen.html" class="link-dark rounded">Печать на полиэтиленовой пленке</a></li>
            <li><a href="mat_kash_folga.html" class="link-dark rounded">Печать на кашированной фольге</a></li>
            <li><a href="mat_bop.html" class="link-dark rounded">Печать на БОПП плёнке</a></li>
            <li><a href="mat_lamination.html" class="link-dark rounded">Печать с ламинацией</a></li>
          </ul>
        </div>
      </li>

      
    <!-- vidy pechati gibkoy upakovki -->
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Виды печати гибкой упаковки
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="vpgu.html" class="link-dark rounded">Виды печати гибкой упаковки.</a></li>
            <li><a href="vpgu_fleksopechat.html" class="link-dark rounded">Флексопечать</a></li>
            <li><a href="vpgu_trafaretnaya.html" class="link-dark rounded">Трафаретная печать</a></li>
            <li><a href="vpgu_rotogravyurnaya.html" class="link-dark rounded">Ротогравюрная печать</a></li>
            <li><a href="vpgu_mnogosloinay.html" class="link-dark rounded">Многослойная печать</a></li>
          </ul>
        </div>
      </li>

      <li class="border-top my-3"></li>
      <li class="mb-1">
        <a href="shipping-and-payment.html" class="btn align-items-center rounded">
          Доставка и оплата
        </a>
      </li>
      <li class="mb-1">
        <a href="contacts.html" class="btn align-items-center rounded">
          Контакты
        </a>
      </li>

    </ul>
