<div class="pt-5">
    <h1 class="is-size-2 text-center p-2">Наши клиенты</h1>
    <div class="row row-cols-3 align-items-start">
      <div class="col d-flex justify-content-center">
        <img src="${ require('src/assets/images/prod_1.webp') }" class="img-fluid rounded">
      </div>
      <div class="col d-flex justify-content-center">
        <img src="${ require('src/assets/images/prod_2.webp') }" class="img-fluid rounded">
      </div>
      <div class="col d-flex justify-content-center">
        <img src="${ require('src/assets/images/prod_3.webp') }" class="img-fluid rounded">
      </div>
    </div>
</div>