<div class="d-none d-md-block py-1">
  <!-- <h2 class="is-size-2 text-center p-2 pb-2 border-bottom">Услуги полиграфии ТП-Пак:</h2> -->
  <!-- <h1 class="display-6 fw-bold text-body-emphasis lh-1 pb-4 mb-5 border-bottom text-center">Услуги полиграфии ТП-Пак:</h1> -->

</div>



  <div class="d-none d-sm-block container text-center pb-5">
    <div class="row row-cols-4 m-4">
      <div class="col">

        <!-- Proizvodstvo gibkoy upakovki -->
        <div class="">
          <!-- <h3 class="fs-4"> Производство гибкой упаковки</h3> -->
          <div class="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="pgu.html" class="link-dark rounded">Изготовление упаковки</a></li>
              <li><a href="pgu_cofe.html" class="link-dark rounded">Упаковка для кофе</a></li>
              <li><a href="pgu_tea.html" class="link-dark rounded">Упаковка для чая</a></li>
              <li><a href="pgu_milk.html" class="link-dark rounded">Упаковка для молока</a></li>
              <li><a href="pgu_icecream.html" class="link-dark rounded">Упаковка для мороженого</a></li>
              <li><a href="pgu_vegetable.html" class="link-dark rounded">Упаковка для овощей</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col">

        <!-- Vidy gibkoy upakovki -->
        <div class="">
          <!-- <h3 class="fs-3">Виды гибкой упаковки</h3> -->
          <div class="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="vgu.html" class="link-dark rounded">Виды гибкой упаковки</a></li>
              <li><a href="vgu_doi_pack.html" class="link-dark rounded">Упаковка Дой-Пак</a></li>
              <li><a href="vgu_floy_pack.html" class="link-dark rounded">Упаковка Флоу-Пак</a></li>
              <li><a href="vgu_kartonnaya_upakovka.html" class="link-dark rounded">Картонная упаковка</a></li>
              <li><a href="vgu_upakovka_sashe.html" class="link-dark rounded">Упаковка Саше</a></li>
              <li><a href="vgu_upakovka_euroslot.html" class="link-dark rounded">Упаковка Еврослот</a></li>
              <li><a href="vgu_stick.html" class="link-dark rounded">Упаковка Стик</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col">

        <!-- Materialy dlya gibkoy upakovki -->
        <div class="">
          <!-- <h3 class="fs-3">Материалы для гибкой упаковки</h3> -->
          <div class="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="mat.html" class="link-dark rounded">Материалы</a></li>
              <li><a href="mat_polietilen.html" class="link-dark rounded">Печать на полиэтиленовой пленке</a></li>
              <li><a href="mat_kash_folga.html" class="link-dark rounded">Печать на кашированной фольге</a></li>
              <li><a href="mat_bop.html" class="link-dark rounded">Печать на БОПП плёнке</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col">

        <!-- vidy pechati gibkoy upakovki -->
        <div class="">
          <!-- <h3 class="fs-3"> Виды печати гибкой упаковки</h3> -->
          <div class="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="vpgu.html" class="link-dark rounded">Виды печати гибкой упаковки.</a></li>
              <li><a href="vpgu_fleksopechat.html" class="link-dark rounded">Флексопечать</a></li>
              <li><a href="vpgu_trafaretnaya.html" class="link-dark rounded">Трафаретная печать</a></li>
              <li><a href="vpgu_rotogravyurnaya.html" class="link-dark rounded">Ротогравюрная печать</a></li>
              <li><a href="vpgu_mnogosloinay.html" class="link-dark rounded">Многослойная печать</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>