// -----------------------------------------------------------------------------
// Footer of the site/application
// -----------------------------------------------------------------------------
.footer {
  color: var(--text-color);
  background-color: var(--primary-color);
  // position: fixed;
  // left: 0;
  // bottom: 0;
  // width: 100%;
}
.map, .time, .phone, .mail {
  display: flex;
  justify-content: center;
}


@media (max-width: 500px) {

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size:0.8rem;
}

.map, .time, .phone, .mail {
  display: flex;
  justify-content: flex-start;
}

}

